@import "tailwindcss";

:root {
  --background: #0b0b0b;
  --foreground: #ffffff;

  --primary: #ffc107;
  --secondary: #171717;

  --text: #d1d5db;

  --border: #2d2d2d;

  --success: #16a34a;
  --danger: #dc2626;

  --radius: 18px;

  --transition: 0.35s;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
  transition:.35s;
}

img{
  max-width:100%;
  display:block; 
}                                                                                                     body {
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

.container {
  width: min(1280px, calc(100% - 2rem));
  margin-inline: auto;
}